bin/
obj/

.vs/
*.csproj.user
*.fsproj.user
*wpftmp.csproj

### VisualStudioCode ### Created by https://www.gitignore.io/api/visualstudiocode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/.idea
*.sln.DotSettings.user

/src/TestResults/*
.fake
.ionide